body{
    margin: 0;
    padding: 0;

    
}
.meanu-container{

    display: flex;
    background-color: black;
}
.company-logo{
    margin-left: 120px;
    color: aliceblue;
}
.menu-items
{display: flex;

width:400px;
height: 50px;
margin-top: 24px;
margin-left:550px ;}

.menu-items li{
    list-style: none;
    padding-left: 20px;
    font-size: 20px;
    margin-left: 20px;
    color: aliceblue;
    

}
.banner-contain{
    display: flex;
    padding-top: 60px;
    background-color: black;
    color: aliceblue;
    margin-bottom: 100px;
    


}
.banner-contain .banner-halfwidth{padding-left: 120px;

    width: 50%;
    
}
.blog-contain h1{
    font-size:70px;
    

}
.banner-contain .banner-halfwidth img{
    width: 100%;
}
p{
    font-size: 25px;
}
.orange{
    color:orangered
}

button{
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: orangered;
    color: wheat;
}
.card-blog{font-size: 16px;}
.card-dixcirption img{
    width:60px;
    margin-top: 20px;
}
.card1{
   
   
    margin-left: 30px;
     height: 280px;

     width: 330px;
     border-radius:5px ;
     color:orangered;
     text-align:center;
     box-shadow: 8px 8px 16px gray;
     transition: 0.10ms;
}
.card1:hover{
    border:1px solid red;
    margin-top: -28px;
    transition:0.8ms;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
.section-2{
    display: flex;
    margin-left: 60px;
    display: flex;
  margin-top: 100px;
}
.card2{
   
   
    margin-left: 85px;
     
     height: 280px;

     width: 330px;
     border-radius:5px ;
    color:orangered;
     text-align:center;
     box-shadow: 8px 8px 16px gray;
}
.card2:hover{
    border:1px solid red;
    margin-top: -28px;
    transition:0.8ms;
}
.card3{
  
   
    margin-left: 85px;
     height: 280px;

     width: 330px;
     border-radius:5px ;
     color:orangered;
     text-align:center;
     box-shadow: 8px 8px 16px gray;
}
.card3:hover{
    border:1px solid red;
    margin-top: -28px;
    transition:0.8ms;
}
.section-blog {
    margin-bottom: 100px;
}
h1 {color: orangered;
text-align: center;
padding-bottom: 20px;
font-size: 50px;
}